.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 100px;
  
}


.left{
  
  height: 500px;
}

.right{
 
  height: 500px;
}

textarea{
  height: 500px;
  width: 500px;
  resize: none;
  margin-right: 25px;
  margin-top: 25px;
}

.cfg-btn{
  height: 20px;
  width: 80px;
  margin-bottom: 20px;
  margin-left: 20px;
}